@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
@font-face {
	font-family: "iconfont";
	src: url('../style/font_c1pwkyigzr8me7b9/iconfont.eot'); /* IE9*/
	src: url('../style/font_c1pwkyigzr8me7b9/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../style/font_c1pwkyigzr8me7b9/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../style/font_c1pwkyigzr8me7b9/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../style/font_c1pwkyigzr8me7b9/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
 	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

body{
	color: #333333;
	font-size: 15px;

	*{
		font-family: Montserrat,Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
		letter-spacing: .6px;
		box-sizing: border-box;
	}

	.pure-u-1,
	.pure-u-1-1,
	.pure-u-1-2,
	.pure-u-1-3,
	.pure-u-2-3,
	.pure-u-1-4,
	.pure-u-3-4,
	.pure-u-1-5,
	.pure-u-2-5,
	.pure-u-3-5,
	.pure-u-4-5,
	.pure-u-5-5,
	.pure-u-1-6,
	.pure-u-5-6,
	.pure-u-1-8,
	.pure-u-3-8,
	.pure-u-5-8,
	.pure-u-7-8,
	.pure-u-1-12,
	.pure-u-5-12,
	.pure-u-7-12,
	.pure-u-11-12,
	.pure-u-1-24,
	.pure-u-2-24,
	.pure-u-3-24,
	.pure-u-4-24,
	.pure-u-5-24,
	.pure-u-6-24,
	.pure-u-7-24,
	.pure-u-8-24,
	.pure-u-9-24,
	.pure-u-10-24,
	.pure-u-11-24,
	.pure-u-12-24,
	.pure-u-13-24,
	.pure-u-14-24,
	.pure-u-15-24,
	.pure-u-16-24,
	.pure-u-17-24,
	.pure-u-18-24,
	.pure-u-19-24,
	.pure-u-20-24,
	.pure-u-21-24,
	.pure-u-22-24,
	.pure-u-23-24,
	.pure-u-24-24 {
	    padding: 0 8px;
	}


	a{
		color: #3e8fc6;
	}

	#m-app{
		padding-left: 100px;

		#m-left-nav{
    		position: fixed;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 100px;
		    overflow: hidden;
		    background-color: #1c1c1c;
		    -webkit-transition: all .1s ease-out;

    		*{
    			color: #FFFFFF;
    		}

    		ul{
    			padding: 0;
    			margin: 0;
    			li{
    				a{
    					display: block;
    					padding: 12px 0;
    					color: #666666;
    					text-decoration: none;
    					text-align: center;

    					i.iconfont{
	    					font-size: 22px;
	    					color: #666666;
	    				}

	    				&:hover{
	    					background-color: #111111;
	    					color: #FFFFFF;

	    					i.iconfont{
	    						color: #3ea8f7;
	    					}

	    					span{
	    						color: #AAAAAA;
	    					}
	    				}

	    				&.router-link-active{
	    					background-color: #3e8fc6;
	    					color: #FFFFFF;

	    					i.iconfont{
	    						color: #FFFFFF;
	    					}

	    					span{
	    						color: #FFFFFF;
	    					}
	    				}

	    				span{
	    					display: block;
	    					color: #666666;
	    					font-size: 12px;
	    					margin-top: 4px;
	    				}
    				}

    				&.m-logo{
    					margin: 0 auto 2em;
    					a{
    						background-color: transparent;
    						i.iconfont{
		    					font-size: 30px;
		    				}
    					}
    				}
    			}
    		}
		}

		#m-main-wrapper{
			background-color: #e1e8ee;
		}

		#m-header,
		#m-main,
		#m-footer{
			padding: 2em;
			width: 94%;
			margin: 0 auto;
		}

		#m-header,
		#m-footer{
			padding: 0 2em;
		}

		#m-footer{
			p{
				font-size: 12px;
				color: #999999;
			}
		}

		#m-header{
			font-size: 13px;
			ul{
				list-style: none;
				li{
					display: inline-block;
					a{
					}
				}
			}
		}

		#m-main{
			.m-box{
				margin:0;
				padding:0;
				margin:20px auto;
				padding:10px;
				border-radius: 5px;
				background-color: #fff;
			}

			/*                       style for index.html                     */
			/* -------------------------------------------------------------- */
			&.m-index {
				/*                      style for selection                   */
				/* ---------------------------------------------------------- */
				.pure-u-1-1 {
					.u-dashBtn {
						padding-left: 10px;
						border-radius: 5px;
						background-color: #fff;
						fieldset {
							border:none;
							margin: 0;
							padding: 10px 0px;
							label {
								padding: 0 5px;
								border-left: 2px solid #00B4A0;
								font-size: 16px;
							}
							select {
								width: 200px;
								height: 36px;
								optgroup {
									padding-left: 10px;
									font-weight: bold;
								}
							}
						}
						.u-btnGroup {
							padding: 10px 0;
							.u-btn-clicked {
								padding: 5px 10px;
								border: none;
								color: white;
								background-color: #323232;
							}
							.u-btn-unClicked {
								padding: 5px 10px;
								border: none;
								color: #464646;
								background-color: #E0E0E0;
							}
						}
					}
				}
				/*                      style for echarts                     */
				/* ---------------------------------------------------------- */
				.pure-u-1-2 {
					h1 {
						margin:15px 0px 2px 0px;
						font-size: 20px;
						font-weight: normal;
					}
					p {
						margin: 0px;
						font-size: 16px;
						font-style: italic;
						color: rgba(0,0,0,.4);
					}
					.chart {
						height:400px;
					}
				}
			}
			&.m-calendar {
				font-family: 'Source Sans Pro',sans-serif,Montserrat,Lato,Helvetica Neue,Helvetica,Arial;
				.u-caldr-select {
					border: 1px solid black;
					border-radius: 5px;
					box-shadow: 0 0 1px 1px #999;
					.pure-u-1-3 {
						&.u-caldr-select-month {
							font-family: 'Source Sans Pro';
							text-align:left;
							line-height: 78px;
							font-size: 24px;
							font-weight: bold;
							color: #4178be;
						}
						&.u-caldr-select-day {
							.boxCenter {
								width: 260px;
								margin: 30px auto;
								i.iconfont{
			    					font-size: 12px;
									font-weight: bold;
			    					color: #000;
			    				}
								span{
									font-family: 'Source Sans Pro';
									font-size: 16px;
									font-weight: bold;
									padding:4px 10px 0 10px;
								}
							}
						}
						&.u-caldr-select-button {
							.buttonGrp {
								position: relative;
								height:30px;
								margin: 25px auto;
								#month {
									font-family: 'Open Sans';
									display: block;
									height:30px;
									width:84px;
									float: left;
									border: 1px solid black;
									box-shadow: 0 0 1px 1px #999;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
									margin-left: 130px;

									color: black;
									background-color: white;
								}
								#week {
									font-family: 'Open Sans';
									display: block;
									height:30px;
									width:84px;
									float: left;
									border: 1px solid black;
									box-shadow: 0 0 1px 1px #999;
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;

									color: white;
									background-color: black;
								}
								#today {
									font-family: 'Open Sans';
									display: block;
									height:30px;
									width:84px;
									float: right;
									border: 1px solid #999;
									box-shadow: 0 0 1px 1px #999;
									border-radius: 5px;
									margin-right: 20px;
									color: #999;
									background-color: white;
								}
							}
						}
					}
				}
				.u-caldr-hint {
					height:70px;
					margin: 10px 0px;
					padding: 10px 0;
					border-radius: 1px solid #ECECEC;
					border-radius: 5px;
					background-color: #ECECEC;
					#u-caldr-hint-red {
						float:left;
						margin-left:10px;
						width:50px;
						height:50px;
						background-color: red;
					}
					#u-caldr-hint-black {
						float:left;
						margin-left:10px;
						width:50px;
						height:50px;
						background-color: black;
					}
					#u-caldr-hint-green {
						float:left;
						margin-left:10px;
						width:50px;
						height:50px;
						background-color: green;
					}
					#u-caldr-hint-blue {
						float:left;
						margin-left:10px;
						width:50px;
						height:50px;
						background-color: blue;
					}
					#u-caldr-hint-yellow {
						float:left;
						margin-left:10px;
						width:50px;
						height:50px;
						background-color: yellow;
					}
					.u-caldr-hint-text {
						float:left;
						min-width: 160px;
						margin-left:10px;
						text-align: center;
						line-height: 50px;
						font-family: 'Source Sans Pro';
						font-size: 16px;
						font-weight: bold;
					}

				}
				.u-caldr-date {
					display: flex;
					height:40px;
					border-top: 1px solid #999;
					border-left: 1px solid #999;
					border-right: 1px solid #999;
					.u-caldr-body-hour {
						display: inline-block;
						width: 4%;
						height: 100%;
					}
					.u-caldr-body-week {
						display: inline-block;
						width: 96%;
						height: 100%;
						.weekday {
							display: inline-block;
							width: 14.285714%;
							height: 40px;
							text-align: center;
							line-height: 40px;
						}
					}
				}
				.u-caldr-body {
					display: flex;
					height:80px;
					background-color: #ECECEC;
					.u-caldr-body-hour {
						display: inline-block;
						width: 4%;
						height: 100%;
						border-top: 1px solid #999;
						border-left: 1px solid #999;
						text-align: center;
						line-height: 80px;
					}
					.u-caldr-body-week {
						display: inline-block;
						width: 96%;
						height: 100%;
						.weekday {
							display: inline-block;
							width: 14.285714%;
							height: 80px;
							border-top: 1px solid #999;
							border-left: 1px solid #999;
						}
					}
				}
			}
		}
	}
}

@import "_plugins";
