@font-face {
	font-family: "iconfont";
	src: url('../style/font_c1pwkyigzr8me7b9/iconfont.eot'); /* IE9*/
	src: url('../style/font_c1pwkyigzr8me7b9/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../style/font_c1pwkyigzr8me7b9/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../style/font_c1pwkyigzr8me7b9/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../style/font_c1pwkyigzr8me7b9/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
 	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

body{
	color: #333333;
	font-size: 15px;

	*{
		font-family: Montserrat,Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
		letter-spacing: .6px;
	}

	a{
		color: #3e8fc6;
	}

	#m-app{
		padding-left: 100px;

		#m-left-nav{
    		position: fixed;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 100px;
		    overflow: hidden;
		    background-color: #1c1c1c;
		    -webkit-transition: all .1s ease-out;

    		*{
    			color: #FFFFFF;
    		}

    		ul{
    			padding: 0;
    			margin: 0;
    			li{
    				a{
    					display: block;
    					padding: 12px 0;
    					color: #666666;
    					text-decoration: none;
    					text-align: center;

    					i.iconfont{
	    					font-size: 22px;
	    					color: #666666;
	    				}

	    				&:hover{
	    					background-color: #111111;
	    					color: #FFFFFF;

	    					i.iconfont{
	    						color: #3ea8f7;
	    					}

	    					span{
	    						color: #AAAAAA;
	    					}
	    				}

	    				&.router-link-active{
	    					background-color: #3e8fc6;
	    					color: #FFFFFF;

	    					i.iconfont{
	    						color: #FFFFFF;
	    					}

	    					span{
	    						color: #FFFFFF;
	    					}
	    				}

	    				span{
	    					display: block;
	    					color: #666666;
	    					font-size: 12px;
	    					margin-top: 4px;
	    				}
    				}

    				&.m-logo{
    					margin: 0 auto 2em;
    					a{
    						background-color: transparent;
    						i.iconfont{
		    					font-size: 30px;
		    				}
    					}
    				}
    			}
    		}
		}

		#m-main-wrapper{
			background-color: #e1e8ee;
		}

		#m-header,
		#m-main,
		#m-footer{
			padding: 2em;
			width: 94%;
			margin: 0 auto;
		}

		#m-header,
		#m-footer{
			padding: 0 2em;
		}

		#m-footer{
			p{
				font-size: 12px;
				color: #999999;
			}
		}

		#m-header{
			font-size: 13px;
			ul{
				padding: 0;
				list-style: none;
				li{
					display: inline-block;
					a{
					}
				}
			}
		}

		#m-main{
			.m-box{
				padding: 2em;
				background-color: #FFFFFF;
				border-radius: 6px;
			}
			
			&.m-index{
			}
		}
	}
}

@import "_widgets";
