<div class="pure-g">
	<div class="pure-u-1-1" >
		<div class="u-dashBtn">
			<form>
				<fieldset>
					<label for="state">Current Monitoring Service</label>
	        		<select id="state">
						<option>Overview</option>
						<option>Opportunities</option>
						<option>Tech Expertise</option>
						<optgroup label="Territory">
    						<option>Clients</option>
							<option>ProspectReach</option>
							<option>Social Search</option>
							<option>Crossbrand</option>
  						</optgroup>
						<optgroup label="Digital Me">
							<option>My Rep Page</option>
							<option>IBM OneScore</option>
							<option>My Feeds</option>
						</optgroup>
						<optgroup label="Learning Hub">
							<option>Digital Mastery</option>
						</optgroup>
	        		</select>
				</fieldset>
			</form>
			<div class = "u-btnGroup">
		    	<button class="u-btn-clicked">24 Hour</button>
				<button class="u-btn-unClicked">7 Day</button>
				<button class="u-btn-unClicked">15 Days</button>
				<button class="u-btn-unClicked">30 Days</button>
			</div>
		</div>
	</div>
	<div class="pure-u-1-2">
		<div class="m-box">
			<h1>THROUGHPUT</h1>
			<p>How many requests were fulfilled per hour?</p>
			<div id="Dash1" class="chart" style="width:100%;height:400px;"></div>
		</div>
	</div>
	<div class="pure-u-1-2">
		<div class="m-box">
			<h1>RESPONSE TIME</h1>
			<p>How long does it take for the service to respond?</p>
			<div id="Dash2" class="chart" style="width:100%;height:400px;"></div>
		</div>
	</div>
</div>
