<div class="pure-g">
	<div class="pure-u-1-1 u-dashBtn">
		<div class="m-box">
			<form>
				<fieldset>
					<label for="state">Current Monitoring Service</label>
		        	<select id="state">
						<option>Overview</option>
						<option>Opportunities</option>
						<option>Tech Expertise</option>
						<optgroup label="Territory">
	    					<option>Clients</option>
							<option>ProspectReach</option>
							<option>Social Search</option>
							<option>CrossBrand</option>
	  					</optgroup>
						<optgroup label="Digital Me">
							<option>My Rep Page</option>
							<option>IBM OneScore</option>
							<option>My Feeds</option>
						</optgroup>
						<optgroup label="Learning Hub">
							<option>Digital Mastery</option>
						</optgroup>
		        	</select>
				</fieldset>
			</form>
			<div class = "u-btnGroup">
			    <button class="u-btn u-btn-clicked">1 hour</button>
				<button class="u-btn">3 hours</button>
				<button class="u-btn">6 hours</button>
				<button class="u-btn">12 hours</button>
				<button class="u-btn">1 day</button>
				<button class="u-btn">3 days</button>
				<button class="u-btn">7 days</button>
				<button class="u-btn">15 days</button>
				<button class="u-btn">30 days</button>
				<div class="u-icon">
					<span class="glyphicon glyphicon-calendar"></span>
					<span class="custom">custom</span>
					<div class="u-select">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pure-u-1-2">
		<div class="m-box">
			<h2>THROUGHPUT</h2>
			<p>How many requests were fulfilled per minute?</p>
			<div id="Dash1" class="chart" style="width:100%;height:400px;"></div>
		</div>
	</div>
	<div class="pure-u-1-2">
		<div class="m-box">
			<h2>RESPONSE TIME</h2>
			<p>How long does it take for the service to respond?</p>
			<div id="Dash2" class="chart" style="width:100%;height:400px;"></div>
		</div>
	</div>
	<div  class="pure-u-1-1 analysis">
		<div class="m-box">
			<h2>Request Communication Analysis</h2>
			<p>explaination</p>
			<m-histogram :events="events" :timeLine="timeLine"></m-histogram>
		</div>
	</div>
</div>
