<div class="u-caldr-body">
	<div class="u-caldr-body-hour">{{ item.hour }}</div>
	<div class="u-caldr-body-week">
		<div class="pure-g">
			<div class="weekday" :class="item.Mon.class">{{ item.Mon.text }}</div>
			<div class="weekday" :class="item.Tue.class">{{ item.Tue.text }}</div>
			<div class="weekday" :class="item.Wed.class">{{ item.Wed.text }}</div>
			<div class="weekday" :class="item.Thu.class">{{ item.Thu.text }}</div>
			<div class="weekday" :class="item.Fri.class">{{ item.Fri.text }}</div>
			<div class="weekday" :class="item.Sat.class">{{ item.Sat.text }}</div>
			<div class="weekday" :class="item.Sun.class">{{ item.Sun.text }}</div>
		</div>
	</div>
</div>
<!--
<div class="u-caldr-body">
	<div class="u-caldr-body-hour"></div>
	<div class="u-caldr-body-week">
		<div class="pure-g">
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
		</div>
	</div>
</div>-->
