<div class="u-caldr-body">
	<div class="u-caldr-body-hour">{{ item.hour }}</div>
	<div class="u-caldr-body-week">
		<div class="pure-g">
			<div class="weekday">{{ item.Mon }}</div>
			<div class="weekday">{{ item.Tue }}</div>
			<div class="weekday">{{ item.Wed }}</div>
			<div class="weekday">{{ item.Thu }}</div>
			<div class="weekday">{{ item.Fri }}</div>
			<div class="weekday">{{ item.Sat }}</div>
			<div class="weekday">{{ item.Sun }}</div>
		</div>
	</div>
</div>
<!--
<div class="u-caldr-body">
	<div class="u-caldr-body-hour"></div>
	<div class="u-caldr-body-week">
		<div class="pure-g">
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
			<div class="weekday"></div>
		</div>
	</div>
</div>-->
